:root {
	/* Alucard light mode */
	--color-bg-primary: #fffbeb;
	--color-text-primary: #1f1f1f;
	--color-text-skill: #1f1f1f;
	--color-link: #036a96;
	--color-link-hover: #a3144d;
	--color-border-top: #1f1f1f;
	--color-border-heading: #6c664b;
	--color-bg-skill-red: rgba(203, 58, 42, 0.25);
	--color-bg-skill-yellow: rgba(132, 110, 21, 0.25);
	--color-bg-skill-green: rgba(20, 113, 10, 0.25);
	--color-bg-skill-blue: rgba(3, 106, 150, 0.25);
	--color-bg-skill-purple: rgba(100, 74, 201, 0.25);
	--color-bg-skill-grey: rgba(108, 102, 75, 0.25);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Dracula dark mode */
		--color-bg-primary: #282A36;
		--color-text-primary: #F8F8F2;
		--color-text-skill: #282A36;
		--color-link: #8BE9FD;
		--color-link-hover: #FF79C6;
		--color-border-top: #6272A4;
		--color-border-heading: #6272A4;
		--color-bg-skill-red: #FF5555;
		--color-bg-skill-yellow: #F1FA8C;
		--color-bg-skill-green: #50FA7B;
		--color-bg-skill-blue: #8BE9FD;
		--color-bg-skill-purple: #BD93F9;
		--color-bg-skill-grey: #6272A4;
	}
}

html {
	box-sizing: border-box;
}
*, *:after, *:before {
	box-sizing: inherit;
}
body {
	margin: 0;
	padding: 0 0 2em 0;
	background: var(--color-bg-primary);
	color: var(--color-text-primary);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	line-height: 21px;
	border-top: 3px solid var(--color-border-top);
}
.wrapper {
	position: relative;
	z-index: 1;
	max-width: 90%;
	margin: 0 auto;
}
a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    text-decoration: underline;
}

h1 { font-size: 2em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1.1em; }

h2 {
	border-top: 1px solid var(--color-border-heading);
	padding-top: 5px;
}
h3 { margin-bottom: 0.1em; }
h4 { margin: 0.5em 0 0.1em 0; }
p { margin: 0.5em 0; }
.fluid {
	display: inline-block;
	vertical-align: top;
}
.timeframe {
	font-weight: normal;
	font-size: 0.8em;
	white-space: nowrap;
}
.skill {
	border-radius: 0.5em;
	color: var(--color-text-skill);
	padding: 0 0.4em;
	line-height: 1.5em;
	white-space: nowrap;
}
.bg-red .skill { background-color: var(--color-bg-skill-red); }
.bg-yellow .skill { background-color: var(--color-bg-skill-yellow); }
.bg-green .skill {	background-color: var(--color-bg-skill-green); }
.bg-blue .skill { background-color: var(--color-bg-skill-blue); }
.bg-purple .skill {	background-color: var(--color-bg-skill-purple); }
.bg-grey .skill { background-color: var(--color-bg-skill-grey); }
.avatar {
	margin-left: 0.5em;
	border-radius: 50%;
	vertical-align: middle;
}
.title { margin-bottom: 0; }
.nowrap { white-space: nowrap; }
.avatar {
	background: url('//s.gravatar.com/avatar/7a50e2c54da24204ab31432a721aa215?s=300&v2');
	width: 75px;
	height: 75px;
	background-size: 75px;
	display: inline-block;
	margin-top: 1em;
}

@media screen and (min-width: 600px) {
	.wrapper { max-width: 75%; }
	body {
		font-size: 17px;
		line-height: 23px;
	}
	.avatar {
		width: 75px;
		height: 75px;
		background-size: 75px;
	}
}

@media screen and (min-width: 800px) {
	.wrapper {
		max-width: 65%;
	}
	body {
		font-size: 18px;
		line-height: 24px;
	}
	.avatar {
		width: 100px;
		height: 100px;
		background-size: 100px;
	}
}
@media screen and (min-width: 1000px) {
	.wrapper {
		max-width: 60%;
	}
}

@media screen and (min-width: 1200px) {
	.wrapper {
		max-width: 55%;
	}
	body {
		font-size: 18px;
		line-height: 24px;
	}
  	.avatar {
		width: 100px;
		height: 100px;
		background-size: 100px;
	}
}
@media print {
	body {
		font-size: 10pt;
		line-height: 13pt;
		border-top: 0;
	}
	.skill {
		background-color: #FFF !important;
		padding: 0;
	}
	.pdflink {
		display: none;
	}
	.no-print {
		display: none;
	}
}
