---
layout: layout
---

<div class="post-container">
    <h1>{{ page.title }}</h1>
    <small class="post-date">{{ page.date | date: "%B %e, %Y" }}</small>
    


    <div class="post-body">{{ content }}</div>

    {% if page.comments %}
        <link rel="stylesheet" href="https://cdn.rawgit.com/cshold/social-sharing-buttons/master/social-buttons.css" />
        <div class="margintop3 social-sharing is-clean" data-permalink="https://kevinareed.com{{ page.url }}">
            <a target="_blank" href="http://www.facebook.com/sharer.php?u=https://kevinareed.com{{ page.url }}" class="share-facebook">
                <span class="icon icon-facebook" aria-hidden="true"></span>
                <span class="share-title">Share</span>
                <span class="share-count">0</span>
            </a>
            <a target="_blank" href="http://twitter.com/share?url=https://kevinareed.com{{ page.url }}&amp;text={{ page.title }} via @kavun&amp;" class="share-twitter">
                <span class="icon icon-twitter" aria-hidden="true"></span>
                <span class="share-title">Tweet</span>
                <span class="share-count">0</span>
            </a>
            <a target="_blank" href="http://plus.google.com/share?url=https://kevinareed.com{{ page.url }}" class="share-google">
                <span class="icon icon-google" aria-hidden="true"></span>
                <span class="share-count">+1</span>
            </a>
        </div>
    {% endif %}

    {% if page.comments %}
    <div class="margintop" id="disqus_thread"></div>
    <script>
        var disqus_config = function () {
            this.page.url = 'https://kevinareed.com{{ page.url }}';
            this.page.identifier = 'https://kevinareed.com{{ page.url }}';
        };
        (function() {
            var d = document, s = d.createElement('script');
            s.src = '//kavun.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>
        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
    </noscript>
    {% endif %}


</div>
