---
layout: layout
---

<div class="post-container">
    <h1>{{ page.title }}</h1>
    <small class="post-date">{{ page.date | date: "%B %e, %Y" }}</small>
    <div class="post-body">{{ content }}</div>
</div>

{% if page.comments %}
<h2>Comments</h2>
<!-- START: Livefyre Embed -->
<div id="livefyre-comments"></div>
<script type="text/javascript" src="//cdn.livefyre.com/Livefyre.js"></script>
<script type="text/javascript">
(function () {
    var networkConfig = {
        network: "livefyre.com"
    };
    
    Livefyre.require(['fyre.conv#3'], function (Conv) {
        var articleId = Conv.makeArticleId(null);
        var convConfig = {
            el: 'livefyre-comments',
            network: "livefyre.com",
            siteId: "335516",
            articleId: articleId,
            signed: false,
            collectionMeta: {
                articleId: articleId,
                url: Conv.makeCollectionUrl(),
            }
        };
        
        new Conv(networkConfig, [convConfig], function (commentsWidget) {}());
    });
    
}());

</script>
<!-- END: Livefyre Embed -->
{% endif %}
